@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body{
      font-family: 'Montserrat',sans-serif;
      background-image: url(https://i.ibb.co/Zgm2ZTH/background2.jpg);
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      color:#3b3b3b;
      margin:auto; 
}

#contenedor{
          isolation: isolate;        
          background: linear-gradient(to left top,#00c020, #008a17);
          width: 900px;
          height: 400px;
          text-align: center;
          position: absolute;
          inset: 0;
          margin: auto;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 14px 28px rgba(41, 41, 41, 0.25), 0 10px 10px rgba(41,41,41,0.25);
             /* offset-x | offset-y | blur-radius | color */
}

#calculadora{
        isolation: isolate; 
          background-color: rgb(255, 255, 255);
          width: 50%;
          height: 100%;
          float: left;
}

#t1{
  
          background: linear-gradient(to left top, #525252, #8a8a8a); /* 45 grados,comenzando en segundo color al primero */
          background-clip: text;
          color: transparent;

}


#t2{ /*efecto degradado en un texto*/
          background: linear-gradient(to left top, #525252, #8a8a8a); /* 45 grados,comenzando en segundo color al primero */
          background-clip: text;
          color: transparent;
  
}
  
::marker{
        color: #6b6b6b ;}   /*cambio de color de los marcadores de lista*/





.borde{

          width: 400px;
          height: 230px;
          content: "";
          z-index: -1;
          background-color: #ffffff;
          position: relative;
          right: -4%;
          bottom: 35%;
          margin: auto;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 14px 28px hsla(0, 0%, 16%, 0.25), 0 10px 10px rgba(41,41,41,0.25);
  
}


.logoFondo{
        isolation: isolate;  
        width: 25%;
        height: 25%;
        content: "";
        z-index: -1;
        background: linear-gradient(to left top, #008a17, #00c020);
        position: relative;
        top: -10%;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0px 10px #29292940;  

} 


.logo{

        width: 18%;
        height: 5%;
        content: "";
        z-index: -1;
        position: relative;
        top: -30%;
        right: 14%;
        margin: auto;
}

.logo2{

        width: 13%;
        height: 13%;
        content: "";
        z-index: -1;
        position: relative;
        top: -24%;
        right: -1%;
        margin: auto;
        filter: drop-shadow(0 0px 3px #292929c7);
}


.logo3{

        width: 20%;
        height: 5%;
        content: "";
        z-index: -1;
        position: relative;
        top: -30%;
        right: -15%;
        margin: auto;
}

.contenido{
          position: relative;
          top: 15%;
          overflow: hidden;
          padding: 0px;
          color: #3b3b3b;
          font-size: 12px;
          left: 3%;
   
}
.contenido2{
          position: relative;
          top: -35%;
          overflow: hidden;
          padding: 40px;
}


.slider{

        width: 400px;
        height: 250px;
        overflow: hidden;
}

.slide{
display: flex;
animation: scroll 120s linear infinite;
-webkit-animation:  scroll 120s linear infinite;
width: (400px*4);

}

.slider .slide{
width: 400px;       /*ancho de los textos*/

}


.slider .slide p {
        width: 100%;
        
}
        
@keyframes scroll{
0% {
        -webkit-transform:translateX(0);
transform: translateY(0);}

100% {-webkit-transform:translateX(calc(-400px *2));
        transform: translateY(calc(-200px *2));}

}




.input-A {
          display: flex;
          flex-direction: column;
          width: fit-content;
          position: relative;
          margin:auto;        /* margin: 0 0 0 120px; */
          max-width: 240px;
  }
  

.input-A label.number {
          font-size: 0.75rem;
          color: #008a17;
          font-weight: 700;
          position: relative;
          text-align: center;
          top: 0.5rem;
          margin: 0 0 0 45px;    /* Arriba | Derecha | Abajo | Izquierda */
          padding: 0 3px; 
          background: #ffffff;
          width: fit-content;
  }


  .input-A input[type=number].input {
          padding: 11px 10px;
          font-size: 0.75rem;
          border: 2px rgb(0, 138, 23) solid;
          border-radius: 5px;
          background: #ffffff;
  }

  .input-A input[type=number].input:focus {
          outline: none;
  }

  /* esto es para ocultar botones para incrementar/decrementar el número  */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}



button {
          position: relative;
          top: 15px; left: 0px;
          padding: 3% 7%;  /* arriba y abajo | izquierda y derecha */ /* establece el área de relleno en los cuatro lados */
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2.5px; /* espaciado entre letras */
          font-weight: 500;
          color: #ffffff;
          background-color: #0A81D1;
          border: none;
          border-radius: 45px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.233);    /* offset-x | offset-y | blur-radius | color */
          transition: all 0.3s ease 0s;  /* nombre de la propiedad | duración | función | retardo */
          cursor: pointer; /* pointer es utilizado cundo se pone el puntero sobre el enlace o button */
          outline: none;
          
}


button:hover {
          background-color: #008a17;
          box-shadow: 0px 2px 15px #2ee53775;
          color: #fff;
          transform: translateX(5px);  /*es para desplazar mi forma en X o Y*/
}

button:active {
          transform: translateY(-1px);
}


#error{
          color: rgb(255, 65, 65);
          font-weight: bold;
          display: none;
}

.resultado{
          color: #0A81D1;
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 5px;
          position: relative;
          top: 40px; left: 0px;
          display: none;

}
